<div id="wrapper">
      <div id="logo_sunstone" style="
    background: url(<%=$views_config.logo%>) no-repeat center;
    background-size: 355px;">
      </div>

      <div class="content">
        <center>
          <a href="/login"><img src="/images/login-fb.png" alt="Login with Facebook" width="240px;" /></a>
        </center>
      </div>

      <div id="error_box" class="hidden alert-box alert" style="display: none">
        <span id="auth_error"></span>
        <span id="one_error"></span>
      </div>
</div>
